<!DOCTYPE html>
<html>
  <head>
    <title>RailsLingoJungle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
    Signed in as <%= current_user.email %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>
      <br>
    <%= image_tag("logo.png", :alt => "logo") %>

    <%= yield %>
  </body>
</html>
